<div class="container-fluid contDiv">

    <div class="card newCard" style="width: 30rem;">
        <div class="card-body">
          <h5 class="card-title abmc">Sign Up</h5>
    
          <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
            <div class="row mb-3 inEl">
                <div class="newEl">
                  <label for="inputfname" class="col-sm-2 col-form-label labl">First Name</label>
                  <div class="col-sm-10">
                      <input type="text" class="form-control inpt" id="fname" formControlName="fname">
                  </div>
                </div>
                  </div>
                  <div class="row mb-3 inEl">
                    <div class="newEl">
                      <label for="inputlname" class="col-sm-2 col-form-label labl">Last Name</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control inpt" id="lname" formControlName="lname">
                      </div>
                    </div>
                      </div>
              <div class="row mb-3 inEl">
            <div class="newEl">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                  <input type="email" class="form-control inpt" id="inputEmail3" formControlName="email">
              </div>
            </div>
              </div>
              <div class="row mb-3 inEl">
            <div class="newEl">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10 ps">
                  <input type="password" class="form-control inpt" id="inputPassword3" formControlName="password"> 
              </div>
            </div>
              </div>
              <div class="btn">
                  <button type="submit" class="btn btn-primary">Sign Up</button>
              </div>
          </form>
    
        </div>
      </div>

  </div>