<!-- <h5>This is the AdminDashboard</h5>

<p>Hallo {{fname}} {{lname}}</p>

<button (click)="logout()">logout</button> -->

<div class="container-fluid contSize1">
    <!-- <p>Hallo</p> -->
    <div class="container-fluid contSize12">
    <div class="container-fluid contSize2">
        <img class="proFilePic" src={{imgSrc}} alt="This is a small profile image of Digital Ocean’s mascot, a blue smiling shark.">
    </div>

    <div class="container-fluid contSize3">
        <p class="Welcome" >Welcome back,</p>
        <p class="nameUsr">{{fname}} {{lname}}</p>
        <button type="button" class="btn btn-outline-secondary logbtn" (click) ="logout()">Log Out</button>
    </div>
    
</div>
  </div>
