.container-fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
}

.abc{
    margin: 10px;
    /* padding-right: 10px; */
}

.ab{
    margin-right: 35px;
}

.fl{
    margin-right: 5px;
}

.vb{
    background-color: wheat;
}