<div class="container-fluid contSize1">

    <div class="container-fluid contSize12">
    <div class="container-fluid contSize2">
        <img class="proFilePic" src={{imgSrc}} alt="This is a small profile image of Digital Ocean’s mascot, a blue smiling shark.">
    </div>

    <div class="container-fluid contSize3">
        <p class="Welcome" >Welcome back,</p>
        <p class="nameUsr">{{fname}} {{lname}}</p>
        <p class="Welcome" >{{about}}</p>
        <p class="Welcome" >Mobile No.: {{mobile}}</p>
    </div>
    
</div>
  </div>
